<div class="container d-flex justify-content-center mt-4">
  <div class="card col-12 col-md-6 col-lg-4 p-4">
    <h4 class="text-center mb-4">Autenticación</h4>
    <form (ngSubmit)="login()" #form="ngForm">
<!--       <h6 class="mb-3 text-muted">Datos Btinreq</h6>

      <div class="mb-3">
        <label class="form-label">Device</label>
        <input type="text" class="form-control" value="AV">
      </div>

      <div class="mb-3">
        <label class="form-label">Usuario</label>
        <input type="text" class="form-control" value="MINSTALADOR">
      </div>

      <div class="mb-3">
        <label class="form-label">Requerimiento</label>
        <input type="text" class="form-control" placeholder="Ingrese requerimiento">
      </div>

      <div class="mb-3">
        <label class="form-label">Canal</label>
        <input type="text" class="form-control" value="BTDIGITAL">
      </div>

      <div class="mb-3">
        <label class="form-label">Token</label>
        <input type="text" class="form-control" value="fa2c02c95a4A8B5C60A82434">
      </div>

      <hr> -->

      <h6 class="mb-3 text-muted">Credenciales</h6>

      <div class="mb-3">
        <label class="form-label">UserId</label>
        <input type="text" class="form-control" value="BANTOTAL">
      </div>

      <div class="mb-3">
        <label class="form-label">UserPassword</label>
        <input type="password" class="form-control" value="z0na#1357">
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </div>
    </form>
  </div>
</div>
