<div class="table-responsive">
  <table class="table table-bordered table-hover align-middle">
    <thead class="table-danger">
      <tr>
        <th>N°</th>
        @for (col of columns; track col.key) {
          <th>{{ col.label }}</th>
        }
      </tr>
    </thead>

    <tbody>
      @for (row of data; track row.id ?? $index) {
        <tr>
          <td>{{ $index + 1 }}</td>

          @for (col of columns; track col.key) {
            <td>{{ row[col.key] }}</td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
