<div class="container mt-4">

  @if (cargando()) {
  <div class="d-flex justify-content-center my-5">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
  }

  @if (error()) {
  <div class="alert alert-danger" role="alert">
    Ocurrió un error al cargar los países. Por favor, inténtalo de nuevo más tarde.
    {{ error() }}
  </div>
  }

  @if (persona()) {

  <div class="row justify-content-center">
    <div class="card col-12 col-lg-8 col-xl-6 mt-3">
      <div class="card-header">
        <h3 class="mb-0">
          Datos del Cliente: {{ clean(persona()?.primerNombre) }} {{ clean(persona()?.primerApellido) }}
        </h3>
      </div>

      <div class="card-body">
        <div class="grid">
          <div><strong>Primer nombre:</strong> {{ persona()?.primerNombre }}</div>
          <div><strong>Segundo nombre:</strong> {{ persona()?.segundoNombre }}</div>
          <div><strong>Primer apellido:</strong> {{ persona()?.primerApellido }}</div>
          <div><strong>Segundo apellido:</strong> {{ persona()?.segundoApellido }}</div>
          <div><strong>Documento:</strong> {{ clean(persona()?.tipoDocumento) }} - {{ clean(persona()?.nroDocumento) }}
          </div>
          <div><strong>Sexo:</strong> {{ persona()?.sexo }}</div>
          <div><strong>Estado Civil:</strong> {{ clean(persona()?.estadoCivil) }}</div>
          <div><strong>Fecha Nacimiento:</strong> {{ formatDate(persona()?.fechaNacimiento) }}</div>

          <div><strong>Nacionalidad:</strong> {{ clean(persona()?.nacionalidad) }}</div>
          <div><strong>Ocupación:</strong> {{ clean(persona()?.ocupacion) }}</div>
          <div><strong>Actividad Laboral:</strong> {{ clean(persona()?.actividadLaboral) }}</div>
          <div><strong>Ingresos:</strong> {{ persona()?.ingresos }}</div>

          <div><strong>Correo:</strong> {{ persona()?.correoElectronico }}</div>
          <div><strong>Celular:</strong> {{ clean(persona()?.telefonoCelular) }}</div>
          <div><strong>Teléfono Fijo:</strong> {{ clean(persona()?.telefonoFijo) }}</div>

          <div class="full">
            <strong>Dirección:</strong>
            {{ clean(persona()?.calle) }} {{ clean(persona()?.numeroPuerta) }},
            Apto {{ clean(persona()?.apartamento) }},
            {{ clean(persona()?.barrio) }},
            {{ clean(persona()?.localidad) }},
            {{ clean(persona()?.departamento) }},
            {{ clean(persona()?.paisDomicilio) }}
          </div>

          <div><strong>Sector:</strong> {{ clean(persona()?.sector) }}</div>
          <div><strong>Clasificación:</strong> {{ clean(persona()?.clasificacionInterna) }}</div>
          <div><strong>Inicio Actividad:</strong> {{ formatDate(persona()?.fechaInicioActividad) }}</div>
          <div><strong>Vencimiento:</strong> {{ formatDate(persona()?.fechaVencimiento) }}</div>
        </div>
      </div>
    </div>
  </div>

  }
</div>
